@import url('font.css');

:root {
    --bs-blue: #007bff;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #d9534f;
    --bs-orange: #fd7e14;
    --bs-yellow: #f0ad4e;
    --bs-green: #4bbf73;
    --bs-teal: #20c997;
    --bs-cyan: #1f9bcf;
    --bs-white: #fff;
    --bs-gray: #919aa1;
    --bs-gray-dark: #343a40;
    --bs-primary: #1a1a1a;
    --bs-secondary: #fff;
    --bs-success: #4bbf73;
    --bs-info: #1f9bcf;
    --bs-warning: #f0ad4e;
    --bs-danger: #d9534f;
    --bs-light: #fff;
    --bs-dark: #343a40;
    --bs-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: var(--bs-font-sans-serif);
    color: #55595c;
}

header {
    background-color: black;
    display: flex;
    width: 100%;
}

#logo {
    width: 170px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5%;
    width: 100%;
}

#accueil,
#eboutique,
#seconnecter,
#panier,
#contact {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}

nav div:hover {
    transition: color 1s;
    color: white !important;
}

a:hover {
    transition: color 1s;
    color: white !important;
}

#contact,
#a5 {
    color: white;
}

div i {
    font-size: 20px;
    text-align: center
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.55);
}

#searchbar {
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    background: white;
    margin-right: 0.5%;
    margin-top: 1.5%;
    height: 40px;
    width: 500px;
}

#searchbar input {
    border: none;
    height: 40px;
    width: 400px;
    outline-style: none;
    padding-left: 10px;
}

#loupe {
    padding-right: 10px;
    color: black;
}

#s1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../img/contact_font.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#s2{
    margin: 2%;
    width: 40%;
}

h5{
    font-size: 15px;
    margin-bottom: 1rem;
}

#s3{
    margin: 2%;
}

.d {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    font-size: 13px;
}

label{
    margin-bottom: 0.5rem;
    color: black;
}

.i {
    border: 0 solid #ced4da;
    background-color: #f7f7f9;
    padding: 0.75rem 1.5rem;
    outline-style: none;
}

.i:focus {
    transition: border 0.01s;
    box-shadow: 0 0 0 0.25rem rgb(26 26 26 / 25%);
}

#e {
    font-family: inherit;
    background: #1f9bcf;
    padding: 10px 40px;
    color: white;
    border: none;
    width: 150px;
    text-transform: uppercase;
}

#e:hover {
    background: #1a7da8;
    cursor: pointer;
}

footer {
    background: black;
    padding: 0.5%;
    color: white;
    text-align: center;
    font-size: 13px;
}

footer a {
    color: white;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #searchbar {
        margin-top: 1%;
    }

}

/* iPads */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    a {
        padding-left: 10px;
    }

    i {
        padding-bottom: -50px !important;
    }

    #searchbar {
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 750px;
    }

    input {
        padding-left: 700px;
    }
}

/* Smartphones */
@media screen and (min-width : 320px) and (max-width : 480px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    a {
        padding-left: 10px;
    }

    i {
        padding-bottom: -50px !important;
    }

    #searchbar {
        margin-left: 7px;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 400px;
    }
}