@import "font.css";
/* from... */
/* to... */
/* from... to... */
/* at... */
/* from... */
/* to... */
/* from... to... */
/* at... */
header {
  background-color: black;
  display: flex;
  width: 100%;
}
header img {
  width: 170px;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5%;
  width: 100%;
}
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav div i {
  font-size: 20px;
  text-align: center;
}
nav div a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.55);
}
nav div:hover {
  transition: color 1s;
  color: white;
}
nav div:hover a:hover {
  transition: color 1s;
  color: white;
}

#searchbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: white;
  margin-right: 0.5%;
  margin-top: 1%;
  height: 40px;
  width: 500px;
}
#searchbar input {
  border: none;
  height: 40px;
  width: 400px;
  outline-style: none;
  padding-left: 10px;
}
#searchbar i {
  padding-right: 10px;
  padding-top: 5px;
  color: black;
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 28px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-menu:focus {
  outline: none;
}
.btn-menu__text {
  margin-left: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
}
.btn-menu__bars {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}
.btn-menu__bars:before, .btn-menu__bars:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: 0.3s;
}
.btn-menu__bars:before {
  transform: translate(0, -12px);
}
.btn-menu__bars:after {
  transform: translate(0, 12px);
}
.menu-open .btn-menu .btn-menu__bars {
  background-color: transparent;
}
.menu-open .btn-menu .btn-menu__bars:before {
  transform: rotate(45deg);
}
.menu-open .btn-menu .btn-menu__bars:after {
  transform: rotate(-45deg);
}

/* Desktop*/
@media only screen and (min-width: 769px) {
  .btn-menu {
    display: none;
  }
}
/* Tablet */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  #searchbar {
    display: none;
  }
}
/* Smartphones */
@media only screen and (max-width: 320px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: none;
  }

  #searchbar {
    display: none;
  }
}
footer {
  background: black;
  color: white;
  font-size: 13px;
  padding: 0.5%;
  text-align: center;
}
footer a {
  color: white;
}

/* Tablet + Smartphones*/
@media only screen and (min-width: 321px) and (max-width: 768px) {
  footer {
    padding: 15px;
    font-size: 10px;
  }
}
:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d9534f;
  --bs-orange: #fd7e14;
  --bs-yellow: #f0ad4e;
  --bs-green: #4bbf73;
  --bs-teal: #20c997;
  --bs-cyan: #1f9bcf;
  --bs-white: #fff;
  --bs-gray: #919aa1;
  --bs-gray-dark: #343a40;
  --bs-primary: #1a1a1a;
  --bs-secondary: #fff;
  --bs-success: #4bbf73;
  --bs-info: #1f9bcf;
  --bs-warning: #f0ad4e;
  --bs-danger: #d9534f;
  --bs-light: #fff;
  --bs-dark: #343a40;
  --bs-font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: var(--bs-font-sans-serif);
  color: #55595c;
}

header {
  position: fixed;
  z-index: auto;
}

#eboutique,
#a2 {
  color: white;
}

#d1 {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  font-size: 15px;
}
#d1 h1 {
  font-size: 25px;
}
#d1 select {
  border: none;
  background: #f7f7f9;
  color: #55595c;
  padding: 15px;
  width: 250px;
  margin-right: 1%;
  outline-style: none;
}

select:focus {
  transition: border 0.01s;
  box-shadow: 0 0 0 0.25rem rgba(26, 26, 26, 0.25);
}

#s1 {
  display: flex;
  background-image: url("../img/eboutique_font.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#s1 aside {
  margin-top: 20px !important;
  width: 20%;
  border: 1px solid #e4e1e1;
  height: 1000px;
  font-size: 15px;
  margin: 1%;
}
#s1 aside h3 {
  padding: 0.5rem 1rem;
  font-weight: 300;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  padding: 4%;
  font-family: "Nunito Sans", sans-serif;
}
.card h6 {
  font-size: 0.75rem;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 1.2;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.card .vp {
  color: #1a1a1a;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 400;
}

#dminmax {
  display: flex;
  justify-content: center;
}
#dminmax .minmax {
  border: none;
  height: 40px;
  width: 100px;
  font-family: inherit;
  outline-style: none;
  color: #55595c;
  background: #f7f7f9;
  padding-left: 10px;
  margin: 1%;
}

.box {
  display: flex;
  flex-direction: column;
}
.box .check {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.box .check input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}
.box .check input[type=checkbox] {
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-right: 0.5em;
  width: 1em;
  height: 1em;
}
.box .check input[type=checkbox]:checked {
  background-image: url("../img/checkbox.png");
  background-size: cover;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.box .check input[type=checkbox]:focus {
  box-shadow: 0 0 0 0.25rem rgba(26, 26, 26, 0.25);
}

main {
  display: flex;
  flex-direction: column;
  width: 77%;
}
main #s2 {
  margin-top: 20px;
  border: 1px solid #e4e1e1;
  height: 200px;
  width: 100%;
}

#ajtpanier {
  padding: 10px;
  border: none;
  box-shadow: 20px;
  background: #4bbf73;
  color: white;
  cursor: pointer;
  width: 200px;
}
#ajtpanier:hover {
  background: #409e61;
}

article {
  display: flex;
}
article #d3 {
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
article #d3 #img_prod {
  width: 15%;
}
article #d4 {
  width: 40%;
}
article #d4 #first-child {
  font-size: 20px;
  font-weight: bold;
}
article #d5 {
  display: flex;
  flex-direction: column;
}
article #d5 h2 {
  text-align: center;
  color: #f0ad4e;
}

/* Range */
.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  width: 100%;
  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  /* Specified height */
  background: #f7f7f9;
  /* Grey background */
  outline: none;
  /* Mouse-over effects */
}
.slider .slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: black;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/